.container {
  background-color: #fff;
  width: 1px;
  margin-top: 80px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#wrapper {
  display: inline-block;
  text-align: center;
  margin: auto;
}

.result {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100px;
  height: 40px;
  margin: auto;
}

#category {
  text-align: left;
  float: none;
}

.inline {
  display: inline-block;
  margin: 100px;
}
